<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title style="text-align: center; padding-right: 10px;">
      <img alt="logo" height="50" width="150" src="assets/img/logo.png" >
    </ion-title>


    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

  </ion-header>


<ion-content>
<!--
    <ion-scroll scrollX="true" class="wide-as-needed">
        <img src="../../assets/img/banner/bakery.jpg">
    </ion-scroll>
-->

<div>
  <ion-slides autoplay="2000" loop="true" speed="1500" class="slides" pager="true">
    <ion-slide>
      <img src="../../assets/img/banner/bakery.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/banner/beauty.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/banner/food items.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/banner/gift.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/banner/jewellery.jpg">
    </ion-slide>
  </ion-slides>
</div>

<div>
  <ion-grid>
    <ion-row>

      <ion-card-header style="font-size: 18px; padding-left: 15px;">
        New Arrivals
      </ion-card-header>
    
      <div style="padding-left: 130px; padding-top: 9px;">
        <button class="addButton" ion-button clear  (click)="viewAllNewArrivals($event)">View All</button>
      </div>

      <div style="padding-left: 17px;">
        <ion-list>

          <ion-card *ngFor="let product of products" (click)="view(product)">
            <img class="full-image" src="assets/img/products/{{product.prod_img}}"/>
            <div class="card-title" style="font-size: 15px">{{ product?.prod_name }}</div>
          </ion-card>

        </ion-list>
      </div>
    </ion-row>
  </ion-grid>
</div>

<div>
      <ion-card-header style="font-size: 18px; padding-left: 15px;">
        Top Trending
      </ion-card-header>
    
      <div style="padding-left: 17px;">
        <ion-list>

          <ion-card *ngFor="let product of data" (click)="view(product)">
            <img class="full-image" src="assets/img/products/{{product.prod_img}}"/>
            <div class="card-title" style="font-size: 15px">{{ product?.prod_name }}</div>
          </ion-card>

        </ion-list>
      </div>
  
</div>


</ion-content>